html {
	background: url(../images/food-background.jpg) no-repeat center center fixed; 
	box-sizing: border-box;
	display: inline-block;
}

body {
	font-family: "Times New Roman", Times, serif;
	margin: 0 auto;
	text-align: center;
}

.checkbox {
	display: inline-block;
	height: 30px;
	margin: 10px auto;
	width: 30px;
  	border-radius: 40px;
  	position: relative;
}

.heading h1 {
	color: red;
	font-size: 50px;
	font-weight: bolder;
}

.heading p {
	color: black;
	font-size: 28px;
	font-weight: bolder;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 90%;
}

#container {
	padding: 30px;
	font-family: "Times New Roman", Times, serif;
	font-size: 29px;
	font-weight: bold;
}

#wrapper {
	max-width: 61rem;
	margin: 20px auto 50px auto;
	background: url("../images/1164418.png");
}

.input-section {
	padding-bottom: 20px;
	margin: 0 auto;
	width: 52em;
}

.input-section #ingredient {
	border-radius: 0.20rem;
	border-color: black;
	border-style: solid;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.25rem;
	height: 1.5rem;
	margin-right: 5%;	
	padding: 0.10%;
	width: 30%;
}

.input-section select {
	font-size: 1.25rem;
	font-family: "Times New Roman", Times, serif;
	height: 1.8em;
	width: 40%;
	color: red;
	font-weight: bolder;
	padding: 0.15%;
	margin-right: 2.5%;	
	border-color: black;
	border-style: solid;
	border-radius: 0.30rem;
}

.input-section .search {
	font-size: 1.35rem;
	font-weight: bolder;
	font-family: "Times New Roman", Times, serif;
	height: 1.8rem;
	width: 20%;
	color: red;
	padding: 0.15%;
	border-radius: 0.35rem;
	border-color: black;
	border-style: solid;
}

.input-section .search:hover {
	background-color: black;
	cursor: pointer;
}

.recipe-list {
	text-align: center;
	color: black;
	font-size: 15px;
	font-style: bolder;
	padding: 2rem 2rem 2rem 2rem;
}

.recipe-details li {
	border-radius: 0.75rem; 
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-right: 4%;
	min-height: 4rem;
	width: 40%;
	text-align: center;
}

.recipe-details .recipe-image {
	width: 40%;
	display: block;
	margin: auto;
	border-right: 5px solid black;
	position: relative;
}

.recipe-details a {
	font-size: 20px;
	color: red;
	font-weight: bolder;
	margin: 0 auto;
}

.recipe-details a:hover {
	cursor: pointer;
	color: red;
}

.recipe-details p {
	margin: 18px;
	font-size: 18px;
	text-align: center;
	max-width: : 50%;
}

.recipe-description {
	width: 50%;
	display: inline-block;
	color: black;
	font-weight: bolder;
	font-size: 18px;
	text-align: center; 
}


/*
1 rem = 16px
1 em = 16px

all ways use pixels
*/